html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
            padding: 0;
        }
        body {
            font-size: 28px;
            justify-content: center;
            text-align: center;
            width: 1600px;
            margin: 0 auto;
            /*background: white url(https://lilianweng.github.io/lil-log/assets/images/RL_illustration.png) no-repeat fixed right;*/
            /*border: solid #111111;*/
        }

        .home {
            height: 1px;
            z-index: -9999;
            background-color: transparent;
        }

        .active {
            background-color: white;
        }

        .header {
            margin: 0 auto;
            padding-top: 150px;
            width: 1400px;
            padding-left: 100px;
            position: fixed;
            top: 0;
            height: 700px;
            color: white;
            z-index: -1;
            /*border: solid black;*/
        }
        .header-img{
            height: 300px;
            width: 600px;
            padding-top: 300px;
            float: right;
            background: white url(https://lilianweng.github.io/lil-log/assets/images/RL_illustration.png) no-repeat right;
            /*border: 1px solid black;*/
        }
        .header img{
            padding-left: 1000px;
            padding-top: 100px;
        }
        .title {
            font-family: "Josefin Sans", sans-serif;
            color: black;
            text-align: left;
            padding-top: 40px;
            margin-left: 40px;
            width: 50%;
        }
        .title span{
            color: #1E75D9;
        }

        .main {
            width: 100%;
            margin-top: 650px;
            background-color: #ffffff;
            /*border: 1px solid black;*/
        }

        .section {
            margin-top: 150px;
            height: auto;
            background-color: #ffffff;
            color: black;
            text-align: center;
            /*border: solid black 1px;*/

        }

        .section:after {
            content: '';
            display: block;
            clear: both;
        }

        .section-title {
            font-family: "Josefin Sans", sans-serif;
            font-weight: 600;
            font-size: 40px;
            color: #38424D;
            background-color: #ffffff;
            text-align: center;
            padding-top: 20px;
            margin-bottom: 50px;
            top: -1px;
            /*position: -webkit-sticky; !* Safari *!*/
            /*position: sticky;*/
            /*border-bottom: solid black 1px;*/
            z-index: 88;
        }


        .about-content {
            font-family: "Josefin Sans", sans-serif;
            text-align: left;
            margin: 0 auto;
            width: 50%;
            font-size: 16px;
            line-height: 30px;
            color: dimgrey;
            /*border: solid;*/
            /*border-color: red;*/
        }

        .sp-container {
            width: 1600px;
            padding-left: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            /*border: 1px black solid;*/
        }

        .card {
            /*float: left;*/
            /*width: 400px;*/
            /*max-width: 20%;*/
            /*background-color: transparent;*/
            /*color: white;*/
            border: 1px solid black;
            position: relative;
            width: 280px;
            height: 450px;
            margin: 20px;
            background-color: #1E75D9;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            box-shadow: 0 0 30px rgba(0,0,0,0.5);
            flex-shrink: 0;
        }

        .card .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .photo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .photo{
    top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.card .photo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 50%,#222);
}
.card h1{
    position: absolute;
    top: 370px;
    transition: 0.5s;
}
.card:hover h1{
    top: 170px;
}
.card h2{
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.card p{
    text-align: left;
    width: 90%;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 30px;
}


        .Schedule{
            justify-content: center;
            text-align: center;
            /*width: 1200px;*/
            /*border:1px solid black;*/
        }

        .table{
            display: block;
            padding-left: 350px;
            font-size: 20px;
            /*padding-left: 300px;*/
            /*border: 1px solid black;*/
        }

        .table tbody{
            display: block;
            justify-content: center;
            text-align: center;
            /*border: 1px solid black;*/
        }
        .table td, .table th {
             width: 300px;
             padding: 0.75rem;
             vertical-align: top;
             border-top: 1px solid #dee2e6;
        }

        .Register-content{
            width: 600px;
            padding-left: 350px;
            text-align: left;
            font-family: "Josefin Sans", sans-serif;
            font-size: 16px;
            color: grey;
        }

        .footer_about{
            width: 1600px;
            height: 300px;
            padding-left: 100px;
            padding-top: 150px;
            /*border: 1px solid black;*/
        }
        .footer_about h4{
            font-family: "Josefin Sans", sans-serif;
            font-size: 24px;
            color: grey;
        }
        .footer_about p{
            font-family: "Josefin Sans", sans-serif;
            font-size: 16px;
            color: grey;
        }

        /*ul {*/
        /*    position: absolute;*/
        /*    !* background-color: #fff;*!*/
        /*    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.45);*/
        /*    border-radius: 50px;*/
        /*    right:0;*/
        /*    width: fit-content;*/
        /*    width: -webkit-fit-content;*/
        /*    width: -moz-fit-content;*/
        /*    !*margin-top: 800px;*!*/
        /*    list-style-type: none;*/
        /*    !*margin-right: 10vw;*!*/
        /*    padding: 0;*/
        /*    overflow: hidden;*/
        /*    background-color: white;*/
        /*    position: -webkit-sticky; !* Safari *!*/
        /*    position: sticky;*/
        /*    top: 0;*/
        /*    font-size: 20px;*/
        /*    z-index: 9999;*/
        /*    margin-left: 1300px;*/
        /*    margin-top: 650px;*/
        /*    !*border: black 1px solid;*!*/
        /*}*/

        /*li {*/
        /*    margin-left: 0.1vw;*/
        /*    float: right;*/
        /*}*/

        /*li a {*/
        /*    display: block;*/
        /*    color: black;*/
        /*    text-align: center;*/
        /*    padding: 0.2vw 0.5vw;*/
        /*    text-decoration: none;*/
        /*}*/

        /*li a:hover {*/
        /*    background: linear-gradient(to right, #2b5876, #4e4376);*/
        /*    border-radius: 50px;*/
        /*    color: white;*/
        /*}*/

        /*li a:active {*/
        /*    background: linear-gradient(to right, #2b5876, #4e4376);*/
        /*    border-radius: 50px;*/
        /*}*/